body {
  text-align: center;
  margin: 0px;
  font-family: fantasy;
  background-color: #f4f6ff;
  font-family: 'Sriracha', cursive;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 320px;
  top: 150px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  margin:0px;
  padding:50px 0px 0px 0px ;
  font-family: 'Sriracha', cursive;
  line-height: 2;
}

.middle-container {
  margin: 50px auto;


}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 25px;
  padding: 50px 0 20px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

hr {
  background-color:none;
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h1 {
  margin-top: 50px;
  font-size: 3.5rem;
  color: #66BFBF;
}

h2{
  color: #66BFBF;
}

h3 {
  color: #11999E;
}
a {
  color:#11199E;
  margin: 10px 20px;
  text-decoration: none;
}
  a:hover{
    color: #EAF6F6;
  }
.h2_top {
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal:;
}

.profile_image {
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

.snoopy_learning {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  float: left;
  margin-right: 30px;
}

.shelley_profile {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Sriracha', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1b91db;
  background-image: -webkit-linear-gradient(top, #1b91db, #204d6b);
  background-image: -moz-linear-gradient(top, #1b91db, #204d6b);
  background-image: -ms-linear-gradient(top, #1b91db, #204d6b);
  background-image: -o-linear-gradient(top, #1b91db, #204d6b);
  background-image: linear-gradient(to bottom, #1b91db, #204d6b);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0 0;
}
